{{ render(controller('ADPerfilBundle:Navegacion:breadcrumbs')) }}
{{ render(controller('ADPerfilBundle:Navegacion:menu')) }}
{{ render(controller('ADPerfilBundle:Navegacion:pageTitle')) }}
<div class="row">{{ render(controller('ADPerfilBundle:Filtro:permiso')) }}</div>
<div id="table-permisos" class="row">
    <div class="alert alert-info">Para ver los permisos realice los filtros requeridos.</div>
</div>
