{% if menus | length > 1 %}
<div class="row">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {{ include('@ADPerfilBundle/Navegacion/menu-li.html.twig') }}
        </ul>
    </nav>
</div>
{% endif %}
