{{ include('ADPerfilBundle:Navegacion:page-title.html.twig', {'icono': 'fa fa-edit', 'color': 'celeste', 'title': 'Editar Menu', 'subtitle': menu }) }}
<form method="post" class="form-horizontal">
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">Actualizar</button>
</form>
