{% if multiple is same as(true) %}
    <a class="navbar-link nav-link dropdown-toggle" href="#ad_perfil_modalPerfil" data-toggle="modal" title="Cambiar Perfil">{{ perfil }} <span class="caret"></span></a>
{% elseif multiple is same as(false) %}
    <span class="navbar-text">{{ perfil }}</span>
{% endif %}
